@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 194 87% 97%;
    --foreground: 194 84% 5%;
    --card: 194 87% 97%;
    --card-foreground: 194 84% 5%;
    --popover: 194 87% 97%;
    --popover-foreground: 194 84% 5%;
    --primary: 197 87% 50%;
    --primary-foreground: 194 84% 5%;
    --secondary: 333 86% 74%;
    --secondary-foreground: 194 84% 5%;
    --muted: 194 86% 20%;
    --muted-foreground: 194 84% 70%;
    --accent: 21 87% 61%;
    --accent-foreground: 194 84% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 194 84% 5%;
    --link: 20 100% 38%;
    --border: 194 86% 20%;
    --input: 194 86% 20%;
    --ring: 21 87% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 194 87% 3%;
    --foreground: 194 84% 95%;
    --card: 194 87% 3%;
    --card-foreground: 194 84% 95%;
    --popover: 194 87% 3%;
    --popover-foreground: 194 84% 95%;
    --primary: 197 87% 50%;
    --primary-foreground: 194 87% 3%;
    --secondary: 333 86% 26%;
    --secondary-foreground: 194 84% 95%;
    --muted: 194 86% 80%;
    --muted-foreground: 194 84% 95%;
    --accent: 21 87% 39%;
    --accent-foreground: 194 84% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 194 84% 10%;
    --link: 20 100% 50%;
    --border: 194 87% 60%;
    --input: 194 86% 80%;
    --ring: 21 87% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl md:text-5xl;
    @apply font-bold;
  }
  h2 {
    @apply text-4xl;
    @apply font-bold;
  }
  h3 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h4 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-xl;
    @apply font-semibold;
  }
  h6 {
    @apply text-lg;
    @apply font-medium;
  }
  p {
    @apply text-base;
  }
}